.sectionContainer {
  max-width: 90em;
  padding: 2em;
}

@media (max-width: 45.05em) {
  .largeScreenOnly {
    display: none;
  }
}
@media (min-width: 45.05em) {
  .smallScreenOnly {
    display: none;
  }
}

.cardListStriped:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
